<div clss="row">
<div class="jumbotron">
<div class="panel panel-success">
<div class="panel-heading">
<h3><center>Quick Link</center></h3>

</div>
<div class="panel-body">
<div class="col-md-9">
<div class="col-md-offset-5">
<%= link_to 'Sign Up',new_user_registration_path, class: 'btn btn-success' %>
<%= link_to 'Sign In',new_user_session_path, class: 'btn btn-success' %>
<%= link_to 'About Us',root_path, class: 'btn btn-success' %>
<%= link_to 'Request a Quote',root_path, class: 'btn btn-success' %>

</div>
</div>
</div>
</div>
</div>
</div>