@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";


.footer a {

	text-decoration: none;
	color: 	#5cb85c;
}

.aqua-png {
   width:200px;
   height: auto;
   margin-top: -70px;
   }

.toast-top-right {
  top: 50px;
  margin: 0 auto;
  left: 77%;
}


